@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --processing-dot-size: 4px;

    --white: #FFFFFF;
    --neutral-0: #F7F7F7;
    --neutral-50: #EDEEEE;
    --neutral-100: #E3E4E5;
    --neutral-200: #CED0D2;
    --neutral-300: #A6AAAE;
    --neutral-400: #898D91;
    --neutral-500: #6B6F73;
    --neutral-600: #5A5D60;
    --neutral-700: #494A4D;
    --neutral-800: #232324;
    --neutral-900: #090909;

    --background-body: var(--white);
    --background-level1: var(--neutral-0);
    --background-level2: var(--neutral-50);
    --primary: #1D4886; /* Singapore Airlines Blue */
    --primary-hover: #16346A; /* Darker shade of primary */
    --tertiary: #FCB130; /* Singapore Airlines Yellow-Orange */
    --inverse: var(--white);

    --sky: #C2D7FE;
    --bubblegum: #F7BED2;
    --turf: #C0E472;
    --lemon: var(--tertiary); /* Updated to reflect brand yellow */
    --poppy: #FFB5AB;
    --surf: #92ECD5;
    --mushroom: #B388FF;
    --gray: #E3E4E5;

    --link: var(--primary);
  }

  :root.dark {
    --background-body: var(--neutral-900);
    --background-level1: var(--neutral-800);
    --background-level2: var(--neutral-700);
    --primary: #FCB130; /* Yellow-Orange for contrast in dark mode */
    --primary-hover: #E69B28; /* Slightly darker shade of primary for hover */
    --tertiary: #1D4886; /* Blue as a secondary color in dark mode */
    --inverse: var(--neutral-900);

    --sky: #384BCA;
    --bubblegum: #804785;
    --turf: #127D36;
    --lemon: var(--primary); /* Updated to reflect brand yellow */
    --poppy: #B53A29;
    --surf: #006270;
    --mushroom: #58209B;
    --gray: #171818;
  }

  *,
  ::before,
  ::after {
    border-color: var(--primary)
  }

  body {
    font-family: 'Singapore Sling', sans-serif;
    background: var(--background-body);
    color: var(--primary);
  }

  .input {
    background-color: var(--background-body);
  }

  .dot-flashing {
    background-color: var(--tertiary);
  }

  /* Other styles remain the same */

}